body {
    background-color: lightgrey;
    color: #4d4d4d;
    font-size: 1em;
    font-family: verdana;
    /*line-height: 4;*/
    text-align: center;
    height: 100vh;
    padding: 0;
    margin: auto;
    max-width: 80em;
    min-width: 50
    

}
.cohort_form {
  flex: 1 1;
  display: flex;
  flex-direction: column  

}
body > header {
  flex-basis: 100%;
}

html {
  margin: 0;
  padding: 0;
}

.mainHeader {
    background-color: #afeeee;
    margin-top: 4px;
    margin-bottom: 2px;
    border-radius: 5px;
    height: 5em;
}

h2 {
    font-family: Verdana;
    background-color: #ffffff;
    color: #000000;
    margin-top: 0;
    margin-bottom: 2px;
    border-radius: 5px;
    line-height: 3em;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;

}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #568;
}

.nav .hello{
  background-color: grey;
}

main {
  flex: 1 1;
  display: flex;
  flex-direction: column
}



