body {
    background-color: lightgrey;
    color: #4d4d4d;
    font-size: 1em;
    font-family: verdana;
    /*line-height: 4;*/
    text-align: center;
    height: 100vh;
    padding: 0;
    margin: auto;
    max-width: 80em;
    min-width: 50
    width: 70vw;

}

body > header {
  flex-basis: 100%;
}

html {
  margin: 0;
  padding: 0;
}

.mainHeader {
    background-color: #afeeee;
    margin-top: 4px;
    margin-bottom: 2px;
    border-radius: 5px;
    height: 5em;
}

h2 {
    font-family: Verdana;
    background-color: #ffffff;
    color: #000000;
    margin-top: 0;
    margin-bottom: 2px;
    border-radius: 5px;
    line-height: 3em;
    text-align: center;
}

/*https://www.w3schools.com/css/css_navbar.asp*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #568;
}

.nav .hello{
  background-color: grey;
}

.ab .hello{
  background-color: grey;
}

ul.dropnav li a {
    color: #f2f2f2;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;


}
.dropnav li.icon{
  display: none;

}

@media screen and (max-width:520px) {
  ul.dropnav li:not(:first-child) {display: none;}
  ul.dropnav li.icon {
    float: right;
    display: inline-block;

  }
}

@media screen and (max-width:520px) {
  ul.dropnav.responsive {position: relative;}
  ul.dropnav.responsive li.icon {

  }
  ul.dropnav.responsive li {
    float: none;
    display: inline;
  }
  ul.dropnav.responsive li a {
    display: block;
  }
}


main {
  flex: 1 1;
  display: flex;
  flex-direction: column
}

main > header {
  width: 100%;
}



#maincontentbox {
  display: flex;
  width: 100%;
}

#maincontentbox article {
    background-color: #ffffff;
    line-height: 1.6em;
    border-radius: 5px;
    overflow: hidden;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    min-width: 10em;
    flex: 1 0;
    margin-right: 2px;
    color: #333333;
    margin-top: 0.2em;
    text-align: left;

}

#maincontentbox article:nth-child(even) {
    background-color: #afeeee;
    border-radius: 5px;
    flex: 1.5 0;
    color: #333333;

}

#maincontentbox article:last-child {
  margin-right: 0;

}

#mainfooter{
  display: flex;
  width: 100%;
  background-color: #ffffff;
  margin-top: 0.2em;
}

#mainfooter:nth-child(even) {
    border-radius: 5px;
    background-color: #ffffff;
    text-align: left;
    margin: 0;
    margin-top: auto;
    display: flex;
    width: 100%;
    align-self: flex-start;
    margin-top: 0.2em;
}


#mainfooter:nth-child:last-child {
  background-color: #afeeee;
  display: flex;
  align-self: flex-end;
  margin-left: auto;
  margin-top: 0.2em;
}

.container{
  position: relative;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  /*top: 50%;*/
  width: auto;
  margin-top: 0em;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;

}

a:hover {
    background-color: black;
}

.next {
  right: 0em;
  top: 50%;
  border-radius: 3px 0 0 3px;
}

.prev {
  left: 0;
  top: 50%;
  border-radius: 3px 0 0 3px;

}

.fle {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;

  font-weight: bold;
  text-align: center;
}

.fle > * {
  padding: 10px;
  flex: 1 100%;
}

img{
  width: 60%;
}

	@media screen and (max-width: 520px) {
		#menu {
			width:1.4em;
			display: block;
			background:#ddd;
			font-size:1.35em;
			text-align: center;
		}
		#nav.js {
			display: none;
		}
		ul {
			width:100%;
			list-style:none;
		}
		li {
			width:100%;
			border-right:none;
		}

	}

	@media screen and (min-width: 520px) {
		#menu {
			display: none;
		}
    .ab{max-width: 15%; }
	}

  @media (max-width:520px) {
    .dropdown-menu {
      width:80%;
   }

    .dropdown-menu > li > a {
      white-space: normal;
   }

  }
