body {
    background-color: lightgrey;
    color: #4d4d4d;
    font-size: 1em;
    font-family: verdana;
    /*line-height: 4;*/
    text-align: center;
    height: 100vh;
    padding: 0;
    margin: auto;
    max-width: 80em;
    min-width: 50

}
.cohort_form {
  flex: 1 1;
  display: flex;
  flex-direction: column  

}
body > header {
  flex-basis: 100%;
}

html {
  margin: 0;
  padding: 0;
}

.mainHeader {
    background-color: #afeeee;
    margin-top: 4px;
    margin-bottom: 2px;
    border-radius: 5px;
    height: 5em;
}

h2 {
    font-family: Verdana;
    background-color: #ffffff;
    color: #000000;
    margin-top: 0;
    margin-bottom: 2px;
    border-radius: 5px;
    line-height: 3em;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;

}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #568;
}

.nav .hello{
  background-color: grey;
}

main {
  flex: 1 1;
  display: flex;
  flex-direction: column
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #ccc;
}

.content {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.addIcon {
  position: relative;
  /* Adjust these values accordingly */
  /* top: 5px; */
  left: 40vw;
}

.addIcon:hover{
  background-color: pink;
}

/* .statements{
  position: relative;
}

.statement{
  display:inline-block;
  width:15px;
  height: 15px;
  border-radius: 100%;
  background-color:lightblue;
  border: 2px solid lightblue;
  cursor:pointer;
  margin: 2px 0; 
}

.statement.selected{
  border-color: blue;
} */